body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
}

/* Header */
#headerall {
	width: 1440px;
	height: 100px;
}

.container-fluid {
	font-size: 14px;
	height: 100px;
	background-color: #fff;
}

.navbar-brand img {
	padding-top: 10px;
	padding-left: 65px;
	padding-bottom: 20px;
	padding-right: 366px;
}

#rightheader {
	padding-top: 55px;
	padding-bottom: 28px;
	width: 740px;
}

.nav-item {
	height: 17px;
}

.nav-link {
	color: #484848;
	font-size: 14px;
	padding: 0;
	height: 17px;
	padding-right: 45px;
}

.nav-link.active {
	color: #a2171c;
}

.nav-link:hover {
	color: #a2171c;
}


.footer-top {
	background-color: #eee;
}

.footerall {
	padding: 40px 0;
}

.address {
	padding-left: 32px;
}

.address-top {
	padding-bottom: 30px;
}

.text-address {
	font-size: 14px;
	font-weight: 600;
}

.address-bottom ul {
	padding-left: 0px;
}

.address-bottom ul li {
	text-decoration: none;
	list-style: none;
}

.address-bottom ul li p {
	font-size: 14px;
}

.navigate {
	padding-left: 22px;
}

.navigate2 {
	padding-left: 0px;
}

.navigate-left h5 {
	padding-bottom: 30px;
}

.navigate-left ul {
	list-style: none;
	padding-left: 0px;
}

.navigate-left ul li {
	list-style: none;
	padding-bottom: 5px;
}

.navigate-right ul {
	padding-top: 60px;
	padding-left: 0px;
}

.navigate-right ul li {
	list-style: none;
	padding-bottom: 5px;
}

.buttonfooterall {
	padding-top: 65px;
	padding-left: 25px;
	padding-right: 132px;
}

.buttonfooter button {
	width: 173px;
	height: 40px;
	border-radius: 100px;
	background-color: #333;
	font-size: 14px;
}
.PC07112 .newroom-date {
	transform: translateY(10px);
	transform: none;
}
.PC07112 .newroom-date .row {
	margin-top: 10px;
}
.PC07112 .newroom-cover-time {
	display: flex;
	align-items: center;
}
.PC07112 .newroom-dateicon {
	color: #a2171c;
}
.PC07112 .newroom-datetime {
	color: #333;
	font-size: 18px;
	line-height: 18px;
}
.PC07112 .newroom-title-news {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #a2171c;
	margin-bottom: 10px;
}
.PC07112 .newroom-title-news-mobile {
	display: none;
	font-size: 20px;
	font-weight: bold;
	color: #a2171c;
	margin-bottom: 10px;
}
.PC07112 .newroom-content-news {
	display: inline-block;
	color: #333;
	font-size: 14px;
	max-width: 78%;
}
.PC07112 .newroom-dashed-border:first-child {
	background-image: none !important;
}
.buttonfooter button:hover {
	background-color: black;
}

.buttonfooter button img {
	padding-bottom: 5px;
}

.top-ft {
	padding-bottom: 15px;
}

.footer-bottom {
	background-color: #dcdcdc;
}

.footer-bottom p {
	font-size: 12px;
}


.buttondown {
	padding-right: 46px;
}

.footer-top .container {
	height: 250px;
}

.icon-buttondown {
	padding-right: 21px;
}

/* Start Tien */
.text-Contact {
	color: black;
	width: 202px;
	height: 50px
}

.bg-breadcrumb {
	--bs-breadcrumb-divider: '-';
}

.list-breadcrumb {
	background-color: white;
}

/* breadcrumb-text */
.breadcrumb-text {
	color: #b1b1b1;
}

.breadcrumb-item.active {
	color: #a2171c;
}

/*button-general*/
.button-general {
	display: flex;
	align-items: center;
}

.general-text {
	margin-left: 14px;
	margin-bottom: 0;
}

.contact-textarea {
	width: 100%;
	height: 117px;
}

/* button-text-danger */
.button-contact-send {
	background-color: rgb(255, 255, 255);
	color: #a2171c;
	border: 1px solid #a2171c;
	/* Màu viền */
	margin-top: 20px;
	width: 100%;
	height: 40px;
}

.spacing-icon {
	margin-left: 25px;
}

.button-contact-send:hover {
	color: #fff;
	background-color: #a2171c;
}
.img-map {
	width: 100%;
}

.custom-group {
	flex-direction: column;
	height: 62px;
}

.custom-group label,
.custom-group input {
	margin-bottom: 5px;
}

.custom-group input {
	height: 40px;
}

/*  textarea Enquiry*/
.textarea-Enquiry {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	height: 141px;
}

.text-address {
	color: #a2171c;
}

.text-infor {
	padding: 0;
}

/* Mobile */
@media only screen and (max-width: 470px) {
	body {
		font-family: "Lato", sans-serif;
		font-weight: 400px;
	}

	.breadcrumb {
		padding: 0px 30px 0px 30px;
	}

	.breadcrumb-item.active.text-page {
		color: #a2171c;
	}

	.contact-us {
		flex-direction: column;
		padding: 0px 30px 0px 30px;
	}

	.form-contact {
		max-width: 370px !important;
		width: 100%;
	}

	.button-general {
		display: flex;
		align-items: center;
	}

	.contact-textarea {
		width: 100%;
	}

	.button-contact-send {
		width: 100% !important;
		color: #a2171c;
		border-color: #a2171c;
		margin-top: 20px;
	}

	.text-address {
		color: #a2171c;
	}

	.text-infor {
		padding: 0;
	}
}

/* End Tien */