
/* Newsroom Thuan */
/* Newsroom Detail*/
.newroom-detail{
  padding: 0;
  margin: 0 112px 0 112px;
}

.newroom-detail-breadcrumb {
  margin-bottom: 40px;
  margin-top: 40px;
}

.newroom-detail-home {
  font-size: 14px;
  text-decoration: none;
  color: #b1b1b1;
}

.newsroom-text {
  font-size: 14px;
  text-decoration: none;
  color: #a2171c;
}

#newroom-detail-come-back{
  position: relative;
  margin-bottom: 150px;
}

.newroom-detail-come-back{
  position: absolute;
    top: 0;
    left: 0;
}
.newroom-detail-come-back a{
  font-size: 14px;
  text-decoration: none;
  color: #a2171c;
  float: left;
  padding-bottom: 22px;
  margin-top: 0;
}

.newroom-detail-come-back img{
  padding-right: 10px;
  padding-left: 10px;
}

#icon-social {
  float: right;
  display: flex;
  align-items: center;
}

.icon-social {
  color: #a2171c;
  width: 40px;
  height: 40px;
  padding-left: 9px;
  padding-top: 4px;
  display: inline-flex;
  border-radius: 28px;
  margin-left: 5px;
}

.newroom-detail-shortcut{
  float: right;
  display: flex;
  align-items: center;
  display: none;
}

.icon-social > img {
  font-size: 40px;
}

.newroom-detail-title {
  font-size: 20px;
  font-weight: bold;
  color: #a2171c;
  margin-top: 50px;
}

.newroom-detail-date{
  padding-top: 16px;
}

.newroom-detail-datetime{
  margin-right: 10px;
  color: #a2171c;
}

.newroom-detail-content {
  margin-top: 20px;
  font-size: 14px;
  color: #000000;
  max-width: 98%;
}

.newroom-detail-introduce {
  color: #333333;
  margin: 0;
  padding-bottom: 28px;
}

.newroom-detail-post {
  margin-left: 50px;
  max-width: 70%;
}

.related-post {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  margin: 0; 
  padding-bottom: 8px;
  padding-top: 10px;
  display: inline-block;
  
}

.related-post-title {
  font-weight: bold;
  color: #a2171c;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.related-post-date {
  padding-bottom: 15px;
  color: #333333;
}
/*get-touch*/
.contact {
  position: fixed;
  top: 43.8%;
  right: 0;
  transform: translateY(-50%);
  background-color: #a2171c;
  padding: 10px;
  z-index: 999;
  border-radius: 10px 0 0 10px;
  height: 176px;
  width: 60px;
}

.contact span {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.contact span img {
  margin-left: 2px;
  margin-bottom: 6px;
  height: 21px;
  width: 14px;
  transform: rotate(-180deg);
}

/* Newsroom*/
.newroom-logo{
  display: inline;
}

.newroom-logo-mobile{
  display: none;
}

.newroom{
  padding: 0;
  margin: 0 112px 0 112px;
}

.newroom-breadcrumb {
  margin-bottom: 15px;
  margin-top: 40px;
  font-size: 14px;
}

.newroom-date{
  transform: translateY(10px);
  transform: none;
}

.newroom-date .row{
  margin-top: 10px;
}

.newroom-cover-time{
  display: flex;
  align-items: center;
}

.newroom-dateicon{
  color: #a2171c;
}

.newroom-datetime{
  color: #333333;
  font-size: 18px;
  line-height: 18px;
}

.newroom-title-news{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #a2171c;
  margin-bottom: 10px;
}

.newroom-title-news-mobile{
  display: none;
  font-size: 20px;
  font-weight: bold;
  color: #a2171c;
  margin-bottom: 10px;
}

.newroom-content-news{
  display: inline-block;
  color: #333333;
  font-size: 14px;
  max-width: 78%;
}

.newroom-dashed-border:first-child {
  background-image: none !important;
}

.newroom-dashed-border{
  background-image: repeating-linear-gradient(to right, #E0E0E0, #E0E0E0 5px, transparent 5px, transparent 10px); 
  background-size: 20px 1px; 
  background-repeat: repeat-x;
  padding-top: 30px;
  padding-bottom: 20px;
}

.newroom-solid-border{
  border-left: 1px #E5E5E5 solid;
  margin-bottom: 10px;
  padding-left: 25px;
}

.newroom-pagination {
  height: 30px;
  margin-bottom: 50px;
}

.newroom-convert a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a2171c;
  color: #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.newroom-page-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  width: 30px;
}

.buttonfooter button:hover {
    background-color: black;
}

.buttonfooter button img {
    padding-bottom: 5px;
}

.top-ft {
    padding-bottom: 15px;
}

.footer-bottom {
    width: 1440px;
    height: 50px;
    background-color: #DCDCDC;

}

.footer-bottom p {
    font-size: 12px;
    padding-left: 15px;
    padding-top: 15px;
}

.rightftbottom {
    padding-left: 183px;
}

.buttondown {
    padding-right: 46px;
}

.footer-top .container {
    height: 250px;
}

.icon-buttondown {
    padding-right: 21px;
}